<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="GestionContext"
      providerName="System.Data.SqlClient"
      connectionString=
        "Server=MC0WPYKC;
        Database=Gestion;
        Integrated Security=True;
        MultipleActiveResultSets=True;
        "/>
</connectionStrings>